.group-list__item_new {
  opacity: 0.7;
  border: dashed 2px #7b7a7a;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;

  .plus-icon {
    color: #808080eb;
  }
}

.group-list__item_new__state {
  display: flex;
}

.group-list__item_new__state_button {
  border: none;
  all: unset;
  cursor: pointer;
}

.like {
  margin-right: 16px;
  color: #267827;
}

.like:hover {
  color: #41d742;
}

.dislike {
  margin-right: 8px;
  color: #782639;
}

.dislike:hover {
  color: #d9466a;
}
