.group-list__new-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  min-width: 400px;
  font-size: 20px;
  width: 60vw;
  margin-bottom: 8px;
  padding: 8px;
}

.group-list__new-item__state {
  display: flex;
}

.group-list__new-item__state_button {
  border: none;
  all: unset;
  cursor: pointer;
}

.like {
  margin-right: 16px;
  color: #267827;
}

.like:hover {
  color: #41d742;
}

.dislike {
  margin-right: 8px;
  color: #782639;
}

.dislike:hover {
  color: #d9466a;
}
