.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/fog-3622519_1280.jpg");
}

.login-page h1 {
  font-size: 40px;
}

.login-form__remember-block {
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
  }
}

.login-page {
  .ant-form {
    background-color: rgba(255, 255, 255, 0.84);
    padding: 10vh 10vh 0 10vh;
  }

  .ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #267827;
      border: #267827;
    }
  }

  .ant-checkbox-wrapper {
    .ant-checkbox-inner {
      border: 1px solid #267827;
    }
  }

  .ant-form-item-control-input-content {
    .ant-btn-primary {
      background: #267827;
      border-color: #267827;
    }
  }

  .ant-form-item-control-input-content {
    .ant-btn-primary:hover {
      background-color: #94aa6c;
      border-color: #94aa6c;
    }
  }

  .ant-btn-primary:hover .ant-btn-primary:focus {
    background-color: #267827;
  }
}
