.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form__remember-block {
    .ant-form-item-control-input-content {
        // display: flex;
        // justify-content: center;
    }
}
