.ant-layout {
  .app-sider {
  height: 100%;
  background-color: #267827;
  }
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.groups-header-name {
  color: white;
  margin-left: 5px;
}

.sider_groups_item {
  border: 1px solid white;
  padding: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.sider_user-info button {
  color: white;
}

.sider_user-info button:hover {
  color: #94aa6c;
}

.sider_user-info {
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-avatar {
  min-width: 40px;
  min-height: 40px;
}

.groups-header {
  position: relative;
  z-index: 2;
}

.icon-collapse-left, .icon-collapse-right {
  position: absolute;
  left: 92%;
  top: 90%;
  z-index: 1;
  font-size: 30px;
}

.icon-collapse-right {
  left: 80%;
}
