@import "../../variables";

.group-list {
  min-width: 400px;
  padding: 24px 0;
  width: 80%;
}

.group-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7b7a7a;
  min-width: 400px;
  font-size: 20px;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin-bottom: 8px;
  padding: 8px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  background-color: transparent;
  box-shadow: 2px 2px 4px #2f2f2f57;

  &:hover {
    opacity: 0.8;
    box-shadow: 6px 6px 4px #00000057;
  }
}

.group-list__item__state {
  display: flex;
}
 
.group-list__item__state_likes {
  margin-right: 8px;
  color: @main-color;
}

.group-list__item__state_dislikes {
  color: #782639;
}
